img.section_hero__blik-1-desktop(:src="BlickImage" alt="blick")
img.section_hero__blik-2-desktop(:src="BlickImage" alt="blick")
img.section_hero__blik-3-desktop(:src="BlickImage" alt="blick")
img.section_hero__blik-4-desktop(:src="BlickImage" alt="blick")
img.section_hero__blik-5-desktop(:src="BlickImage" alt="blick")

img.section_hero__blik-6-desktop(:src="BlickImage" alt="blick")
img.section_hero__blik-7-desktop(:src="BlickImage" alt="blick")
img.section_hero__blik-8-desktop(:src="BlickImage" alt="blick")