img.section_hero__blik-1-tablet(:src="BlickImage" alt="blick")
img.section_hero__blik-2-tablet(:src="BlickImage" alt="blick")
//img.section_hero__blik-3-tablet(:src="BlickImage" alt="blick")
//img.section_hero__blik-4-tablet(:src="BlickImage" alt="blick")
//img.section_hero__blik-5-tablet(:src="BlickImage" alt="blick")