%title {
  width: 225px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-bottom: 15px;
}
%content {
  width: 225px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin-bottom: 15px;
}


footer {
  position: relative;
  margin-bottom: 20px;
  //.blik-2 {
  //  position: absolute;
  //  @include blik(15px, 0, 110px, 264px, 233px, 0);
  //  &-t {
  //    position: absolute;
  //    @include blik(82px, 115px, 0, 97px, 86px, 0);
  //  }
  //}
  //.blik-3 {
  //  position: absolute;
  //  @include blik(82px, 55px, 0, 125px, 110px, 180deg);
  //  &-t {
  //    position: absolute;
  //    @include blik(91px, 0, 55px, 46px, 41px, 180deg);
  //  }
  //}
  .footer-section {
    //width: 1000px;
    padding-left: 140px;
    .column {
      margin-top: 172px;
      width: 33%;
      margin-right: 120px;
      &__title {
        @extend %title;
      }
      &__content {
        @extend %content;
      }
    }
  }
  .footer-section-t {
    display: flex;
   // width: 1000px;
    padding-left: 50px;
    margin-right: 110px;
    .column {
      margin-top: 114px;
      width: 23%;
      &__title {
        @extend %title;
      }
      &__content {
        @extend %content;
      }
    }
  }
  .footer-section-m {
    display: flex;
    //width: 400px;
    margin: 0 auto;
    .column {
      margin-top: 25px;
      &__title {
        @extend %title;
        text-align: center;
      }
      &__content {
        @extend %content;
        text-align: center;
      }
    }
  }
}
