footer {
  position: relative;
  margin-bottom: 100px;
  .blik-2 {
    position: absolute;
    @include blik(15px, 0, 110px, 264px, 233px, 0);
    &-t {
      position: absolute;
      @include blik(82px, 115px, 0, 97px, 86px, 0);
    }
  }
  .blik-3 {
    position: absolute;
    @include blik(82px, 55px, 0, 125px, 110px, 180deg);
    &-t {
      position: absolute;
      @include blik(91px, 0, 55px, 46px, 41px, 180deg);
    }
  }
  .footer-section {
    //display: flex;
    width: 1000px;
    padding-left: 100px;
    .column {
      margin-top: 172px;
      //display: flex;
      //flex-direction: column;
      //align-items: flex-start;
      width: 33%;
      margin-right: 140px;
      &__title {
        width: 225px;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        margin-bottom: 15px;
      }
      &__content {
        width: 225px;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        margin-bottom: 15px;
      }
    }
  }
  .footer-section-t {
    display: flex;
    width: 1000px;
    padding-left: 50px;
    .column {
      margin-top: 114px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 23%;
      // margin-right: 140px;
      &__title {
        width: 225px;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        margin-bottom: 15px;
      }
      &__content {
        width: 225px;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        margin-bottom: 15px;
      }
    }
  }
}
