.section_hero {
  &__info {
    position: absolute;
    .title {
      position: absolute;
      font-size: 50px;
      font-weight: 900;
      line-height: 59px;
      width: 676px;
      top: 220px;
    }
    .subtitle {
      position: absolute;
      font-size: 24px;
      font-weight: 300;
      line-height: 28px;
      width: 588px;
      top: 360px;
    }
    .btn-order {
      position: absolute;
      font-size: 20px;
      font-weight: 700;
      line-height: 23px;
      color: #ffffff;
      top: 420px;
      letter-spacing: 1px;
      padding: 12px 24px;
      border-radius: 7px;
      text-transform: uppercase;
      outline: none;
      border: 0;
      background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
      cursor: pointer;
      &:hover {
        background: linear-gradient(95.2deg, #2E3192 99.51%, #B90160 2.23%);
      }
    }
  }
  &__img{
    position: relative;
    background: url("../images/background-hero.webp") no-repeat;
    background-position-x: 100%;
    background-position-y: 45%;
    width: 80%;
    left: 270px;
    img {
      margin-left: 360px;
    }
  }
}

.section_hero-tablet {
  &__logo {
    margin-top: 60px;
    .logo {
      width: 100px;
      height: 60px;
    }
    .logo-text {
      font-size: 36px;
      font-weight: 900;
      line-height: 42px;
      margin-left: 25px;
    }
  }
  &__info {
    position: absolute;
    .title {
      position: absolute;
      font-size: 40px;
      font-weight: 900;
      line-height: 40px;
      width: 414px;
      top: 180px;
    }
    .subtitle {
      position: absolute;
      font-size: 24px;
      font-weight: 300;
      line-height: 28px;
      width: 588px;
      top: 320px;
    }
    .btn-order {
      position: absolute;
      font-size: 15px;
      font-weight: 700;
      line-height: 18px;
      color: #ffffff;
      top: 380px;
      letter-spacing: 1px;
      padding: 15px 30px;
      border-radius: 7px;
      text-transform: uppercase;
      outline: none;
      border: 0;
      background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
      cursor: pointer;
      &:hover {
        background: linear-gradient(95.2deg, #2E3192 99.51%, #B90160 2.23%);
      }
    }
  }
  &__img{
    position: relative;
    background: url("../images/background-hero.webp") no-repeat;
    background-size: 525px 368px;
    background-position-x: 10%;
    background-position-y: 45%;
    width: 80%;
    left: 200px;
    top: 38px;

    img {
      margin-left: 120px;
      width: 368px;
      height: 473px;
    }
  }
}

.section_hero-mobile {
  &__info {
    img {
      width: 365px;
      height: 256px;
    }
    .logo {
      width: 60px;
      height: 36px;
      margin: 30px 0;
    }
    .logo-text {
      font-size: 18px;
      font-weight: 900;
      line-height: 21px;
    }
    .title {
      font-size: 25px;
      font-weight: 900;
      line-height: 25px;
      width: 194px;
      margin-top: -230px;
      text-align: center;
    }
    .subtitle {
      font-size: 20px;
      font-weight: 300;
      line-height: 23px;
      width: 282px;
      text-align: center;
      margin: 10px 0;
      //top: 290px;
    }
    .btn-order {
      font-size: 10px;
      font-weight: 700;
      line-height: 11px;
      color: #ffffff;
      top: 350px;
      letter-spacing: 1px;
      padding: 8px 15px;
      border-radius: 7px;
      text-transform: uppercase;
      outline: none;
      border: 0;
      background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
      cursor: pointer;
      &:hover {
        background: linear-gradient(95.2deg, #2E3192 99.51%, #B90160 2.23%);
      }
    }
  }
 }

