.section_hero {
  &__info {
    position: absolute;
    .title {
      font-size: 50px;
      font-weight: 900;
      line-height: 59px;
    }
    .subtitle {
      font-size: 24px;
      font-weight: 300;
      line-height: 28px;
    }
  }
  &__img{
    position: relative;
    background: url("../images/background-hero.webp") no-repeat;
    background-position-x: 100%;
    background-position-y: 45%;
    width: 80%;
    img {
      margin-left: 270px;
    }
  }
}